@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-left">
        <h4>生成实体Tool</h4>
        <ul>
            <li>方法：ExportEntity</li>
            <li>参数: key (以英文逗号间隔)</li>
            <li>示例：<a href="http://192.168.10.231:8080/Home/ExportEntity?key=Id,中文名称,酷狗,音乐"> http://192.168.10.231:8080/Home/ExportEntity?key=Id,中文名称,酷狗,音乐</a></li>
        </ul>


        <h4>生成排期Tool</h4>
        <ul>
            <li>方法：ExportEntity</li>
            <li>参数: key (以英文逗号间隔)</li>
            <li>示例：<a href="http://192.168.10.231:8080/Home/ExportSchedule?startTime=2021-03-01&endTime=2021-05-01&startName=%E5%A7%9C%E7%91%9E%E6%96%8C"> http://192.168.10.231:8080/Home/ExportSchedule?startTime=2021-03-01&endTime=2021-05-01&startName=%E5%A7%9C%E7%91%9E%E6%96%8C</a></li>
        </ul>
    </div>
